# ===== Python =====
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# ===== Rasa =====
rasa_bot/.rasa/
rasa_bot/.cache/
rasa_bot/results/
rasa_bot/models/

# ===== Databases =====
*.db
*.db-journal
*.sqlite3

# ===== Outputs & Logs =====
results/
reports/
*.log
logs/

# ===== Node / Frontend =====
node_modules/
dist/
build/